<div class="f_panel">
    <div class="profile">
        <img src="/images/profile.svg"
             alt="profile" />
    </div>
    <div class="name">User name</div>
    <div class="button">Orders</div>
    <div class="button">Business</div>
    <div class="button">Calendar</div>
    <div class="exit">Exit</div>
</div>
<link rel="stylesheet" href="~/Styles/_FunctionalPanel.css">